---
layout: page
# All the Categories of posts
---

{% include lang.html %}

{% assign categories_data = site.data.categories %}
{% assign HEAD_PREFIX = 'h_' %}
{% assign group_index = 0 %}

{% assign sort_categories = site.categories | sort %}

<div class="row">
  {% for category in sort_categories %}
    {% assign category_name = category | first %}
    {% assign posts_of_category = category | last %}
    {% assign top_posts_size = posts_of_category | size %}

    <div class="col-md-6"> <!-- Adjust column width based on your preference -->
      <div class="card categories">
        <!-- top-category -->
        <div
          id="{{ HEAD_PREFIX }}{{ group_index }}"
          class="card-header d-flex justify-content-between hide-border-bottom"
        >
          <span class="ms-2">
            <i class="far fa-folder fa-fw"></i>

            {% capture _category_url %}/categories/{{ category_name | slugify | url_encode }}/{% endcapture %}
            <a href="{{ _category_url | relative_url }}" class="mx-2">{{ category_name }}</a>

            <!-- content count -->
            <span class="text-muted small font-weight-light">
              {{ top_posts_size }}

              {% if top_posts_size > 1 %}
                {{
                  site.data.locales[lang].categories.post_measure.plural
                  | default: site.data.locales[lang].categories.post_measure
                }}
              {% else %}
                {{
                  site.data.locales[lang].categories.post_measure.singular
                  | default: site.data.locales[lang].categories.post_measure
                }}
              {% endif %}
            </span>

            {% for category_data in categories_data %} <!-- Iterate over categories data -->
              {% if category_data.name == category_name %} <!-- Compare category names -->
                {% assign category_image_path = category_data.image.path %} <!-- Retrieve image path -->
                {% unless category_image_path contains '//' %}
                  {% assign category_image_path = post.img_path | append: '/' | append: category_image_path | replace: '//', '/' %}
                {% endunless %}
                {% assign alt = category_name %}
                {% assign lqip = null %}

                {% if category_data.image.lqip %}
                  {% capture lqip %}lqip="{{ category_data.image.lqip }}"{% endcapture %}
                {% endif %}
                <div class="col-md">
                  <a href="{{ _category_url | relative_url }}"> <!-- Anchor-Link -->
                    <img src="{{ category_image_path }}" alt="{{ alt }}" {{ lqip }} srcset="{{ category_data.image.path | srcset }}">
                  </a>
                </div>

                {% assign card_body_col = '7' %}
              {% endif %}
            {% endfor %}
          </span>
        </div>
        <!-- .card-header -->
      </div>
      <!-- .card -->
    </div>
    <!-- .col-md-4 -->
    {% assign group_index = group_index | plus: 1 %}
  {% endfor %}
</div>
<!-- .row -->
